  .definition  {
  display: none;
}

.clickable {
  cursor: pointer;
  color: #0088cc;
}

.clickable:hover {
  text-decoration: underline;
}

.flashcard{
  border: solid;
  border-color:grey;
  border-width: 3px;
  border-radius: 10px;
  margin: 10px;
  padding: 10px;

}

.definition{
  border: solid;
  border-color:grey;
  border-width: 3px;
  border-radius: 10px;
  margin:10px;
  padding: 10px;
}

.row-eq-height{
  display: flex;
}
